# Dependencies
**/node_modules
/.pnp
.pnp.*

# Testing
**/coverage

# Next.js build outputs
**/.next/
**/out/

# Production builds
**/build
**/dist

# IDE / System files
.DS_Store
.vscode/
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env*
!.env.example
